@model Park
@{
    ViewData["Title"] = "Detail";
}

 <div class="detail">
     <div>
         <img src="~/images/parks/@(Model.ParkCode).jpg" />
         <div class="quote">
             <div>@Model.InspirationalQuote</div>
             <div>-@Model.InspirationalQuoteSource</div>
         </div>
     </div>
     @{
         string acreage = (Model.Acreage).ToString();
         string campsites = (Model.NumberOfCampsites).ToString();
         string visitors = (Model.AnnualVisitorCount).ToString();
     }
     <h1 id="detailname">@Model.ParkName</h1>
     <h3 id="detailstate">@Model.State</h3>
     <div class="info">
         <div>Acreage: @acreage acres</div>
         <div>Elevation: @Model.ElevationInFeet ft.</div>
         <div>Miles of Trail: @Model.MilesOfTrail</div>
         <div>Number of Campsites: @campsites</div>
         <div>Climate: @Model.Climate</div>
         <div>Year Founded: @Model.YearFounded</div>
         <div>Annual Visitor Count: @visitors</div>
         <div>Number of Animal Species: @Model.NumberOfAnimalSpecies</div>
         <div>Entry Fee: @Model.EntryFee.ToString("C2")</div>
     </div>
     <br />
     <div>@Model.ParkDescription</div>
 </div>