@model Park
@{
    ViewData["Title"] = "Detail";
}
<<div class="detailimg">
    <img src="~/images/parks/@(Model.ParkCode).jpg">
    </div>
<div class="detailparkname">
    <h2>@*(@Model.ParkCode)*@@Model.ParkName</h2>
</div>
<ul>
    <li>
        <div class="detaildescription">
            @Model.ParkDescription
        </div>
    </li>
   <li><div class="detailtrail">
    @Model.MilesOfTrail 
       
</div></li>
    <li><div class="detailstate">
    @Model.State
</div></li>
    <li><div class="detailanimals">
    @Model.NumberOfAnimalSpecies
</div></li>
    <li><div class="detailfounded">
    @Model.YearFounded
</div></li>
    <li><div class="detailcampsites">
    @Model.NumberOfCampsites
</div></li>
    <li><div class="detailquote">
    @Model.InspirationalQuote
</div></li>
    <li><div class="detailquotesource">
    @Model.InspirationalQuoteSource
</div></li>
    <li><div class="detailacreage">
    @Model.Acreage
</div></li>

    <li><div class="detailelevation">
    @Model.ElevationInFeet
</div></li>

    <li>
        <div class="detailclimate">
            @Model.Climate
        </div>
    </li>

    <li>
        <div class="detailvisitorcount">
            @Model.AnnualVisitorCount
        </div>
    </li>
    <li><div class="detailentryfee">
    @Model.EntryFee
</div></li>
</ul>
